html {
  background-color: #313338;
  color: #eeeeee;
}

atom-text-editor {
  background-color: 313338;
  color: #eeeeee;
}
atom-text-editor .gutter {
  background-color: #313338;
  color: #3FBCE4;
  border-right: 4px;
  border-color: #eeeeee;

}
.cursors  {
  color: #3FBCE4
}
atom-text-editor .cursor-line {
  background-color: #676c79;
}
.welcome {
  background-color: #313338
}

.welcome-card {
  color: #3FBCE4;
  background-color: #313338
}
